<!DOCTYPE html>
<html>
<head>
	<title>Know The Rating</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/search.css">
	<meta http-equiv="pragma" content="no-cache" />
</head>

<body>