<% include ./partials/header.ejs %>



<div class=" container">
<form class="form-inline " action = "results" method = "GET">
  <div class="form-group">
    <input size="60" type="text" class="form-control input-lg" style="margin-left:270px;" placeholder="Enter Movie(eg. The Avengers)" name = "search">
  </div>
<br></br>
  <div id="btn-style">
 	<button type="submit" class="btn btn-success btn-lg center-block">KNOW THE RATINGS!</button>
  </div>
</form>
</div>

<% include ./partials/footer.ejs %>